/* img {
    width: 100px;
} */
#gallery {
    margin: 1.66%;
    padding: 20px;
    bottom: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}

h1 {
    text-align: center;
}

input {
    width: 100%;
}
.portrait {
    padding: 5px;
}
.container {
    position: relative;
    height: 100vh;
}
/* i want the portraits to line up horizontally and to keep the right apsect ratio. I want the forms to be neatly
underneath. I want a button that orders them by iniative eventually. I want the border color to change based on whose turn it is. */
/* .portrait1 {
    
} */

.hide {
    display: none;
  }